@font-face {
  font-family: 'Arial Narrow';
  src: url(/bt_account_report_qrcode/static/src/fonts/Arial Narrow.woff);

}
@font-face {
  font-family: 'Stencil';
  src: url(/bt_account_report_qrcode/static/src/fonts/unicode.stencilb.ttf);

}
@font-face {
  font-family: 'Cg Omega';
  src: url(/bt_account_report_qrcode/static/src/fonts/CG_Omega_fed.woff);

}